mat-card {
    background-color: #7b1fa2;
    cursor: pointer;
    width: 85%;
    height: 95%;
    margin: 30px
}

mat-card img {
    object-fit: cover;
    /*this makes the image in src fit to the size specified below*/
    width: 100%;
    /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    border-radius: 5px;
}

h2 {
    margin: auto;
    text-align: center;
    color: white;
}

button {
    color: white;
}