.mat-tab-label {
    color: black;
}

.mat-raised-button {
    width: 65%;
    margin: auto;
}

#min-max-field {
    width: 100px !important;
}

p {
    margin-top: 1px;
    margin-bottom: 1px;
}

h2 {
    margin-bottom: 5px !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.help {
    transform: scale(0.8);
}
